:root {
	--leftbar-width: 250px;
	--w: calc(var(--leftbar-width)/250);
	--fsize-6: calc(var(--w)*24);
	--fsize-5: calc(var(--w)*20);
	--fsize-4: calc(var(--w)*18);
	--fsize-3: calc(var(--w)*16);
	--fsize-2: calc(var(--w)*14);
	--fsize-1: calc(var(--w)*12);
	--open-close-margin: calc(var(--w)*5);
	--container-spacing: calc(var(--w)*5);
}
#leftbar {
	--item-sy: calc(var(--w)*24);
}
.popup-container {
	--padding-x: calc(var(--w)*25);
	--padding-y: calc(var(--w)*25);
	--spacing-x: calc(var(--w)*10);
	--spacing-y: calc(var(--w)*20);
	--col-size: calc(var(--w)*92);
	--input-sy: calc(var(--w)*26);
}

@media only screen and (max-width: 1200px) {
	:root {
		--leftbar-width: 180px;
	}
}